.textBox {
  color: var(--fg-dark);
  background-color: var(--bg-dark-2);
  border: 2px solid var(--fg-dark-2);
  padding: 4px 5px;
  font: inherit;
  border-radius: 9px;
  width: 48px;
  height: 22px;
  font-size: 16px;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
  margin-inline: 4px;
  line-height: 16px;
}

.textBox:focus,
.textBox.active {
  border-color: var(--hilight);
}

.button {
  font: inherit;
  height: 22px;
  font-size: 16px;
  padding: 0px 7px;
  border-radius: 9px;
  border: 2px solid var(--hilight);
  background-color: var(--bg-dark-2);
  color: var(--fg-dark);
  cursor: pointer;
  display: inline-block;
  margin-inline: 4px;
  min-width: 50px;
  line-height: 18px;
}

.button:hover {
  background-color: var(--hilight);
  color: var(--fg-dark)
}

.buttonSelected {
  background-color: white;
  border-color: var(--hilight);
  color: var(--hilight);
}

.selectorRow {
  text-align: center;
  margin: 8px 4px;
}

.dropdown {
  height: 22px;
  font-size: 16px;
  line-height: 16px;
  font: inherit;
  padding-inline: 9px;
  padding-block: 0px;
  border-radius: 9px;
  border: 2px solid var(--hilight);
  margin: 8px 0px;
  background-color: var(--bg-dark-2);
  color: var(--fg-dark);
  cursor: pointer;
}

.dropdown:hover,
.dropdown:focus {
  background-color: var(--hilight);
  color: white;
}

/* .dropdownOption {
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: var(--hilight);
  color: var(--fg-dark)
} */

@supports (-moz-appearance:none) {
  .dropdownOption {
    -moz-appearance:none !important;
    background: transparent url('data:image/gif;base64,R0lGODlhBgAGAKEDAFVVVX9/f9TU1CgmNyH5BAEKAAMALAAAAAAGAAYAAAIODA4hCDKWxlhNvmCnGwUAOw==') right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
  }
}