:root {
  --bg-dark: #191919;
  --bg-dark-2: #393939;
  --fg-dark: #ffffff;
  --fg-dark-2: #999999;
  --hilight: #ff0000;
  --line-dark: #555555;
  --red1: #911;
  --red2: #711;
  --green1: #181;
  --green2: #161;
  --blue1: #159;
  --blue2: #147;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--fg-dark);
  background: var(--bg-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border: none;
}

@media (prefers-color-scheme: light) {
  /* html {
    color-scheme: dark;
  } */
}
