.main {
  display: grid;
  grid-template-columns: 350px auto 300px;
  grid-template-rows: 30px auto;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  border-bottom: #666666 1px solid;
}

.sideDisplayContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow-y: auto;
  border-right: #666666 1px solid;
}

.pokemonListItem {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rank {
  flex-basis: 32px;
  margin-left: 10px;
  text-align: right;
}

.menuSprite {
  display: block;
}

.pokemonName {
  flex-grow: 1;
}

.usageRate {
  flex-basis: 65px;
}



/* Mobile */
@media (max-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 30px auto;
    height: 100vh;
    width: 100vw;  
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 30px auto;
    height: 100vh;
    width: 100vw;  
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
