.main {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 35px auto;
  height: 100vh;
  width: 100vw;
}

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  border-bottom: var(--line-dark) 1px solid;
  display: flex;
  flex-direction: row;
}

.listIcon {
  float: left;
  display: none;
}

.listCloseContainer {
  height: 50px;
  position: sticky;
}

.listClose {
  display: block;
  float: right;
  z-index: 1;
}

.dcLinksContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 84px;
}

.dcLogoLink {
  height: 35px;
  padding: 0px 8px;
}

.dcLogoLinkMobile {
  display: none;
}

.dcLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dcLink {
  padding: 2px 10px;
  display: block;
  border-left: 1px solid var(--fg-dark-2);
}

.dcLink:hover {
  color: var(--hilight);
}

.socialLinks {
  display: flex;
  flex-direction: row;
  height: 100%;
  float: right;
  align-items: center;
}

.slideInComponent {
  display: none;
  transition: 300ms;
}

.slideInComponentOpen {
  left: 0px;
}

.slideInComponentClosed {
  left: -361px;
}

.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: none;
}

.title {
  color: var(--fg-dark-2);
  text-align: center;
}

.buttonIcon {
  cursor: pointer;
  height: 29px;
  width: 29px;
  fill: var(--fg-dark-2);
  color: var(--fg-dark-2);
  margin: 3px 6px;
  border: none;
  background: transparent;
}

.buttonIcon:hover {
  fill: var(--fg-dark);
  color: var(--fg-dark);
}

.panelContainer {
  position: sticky;
  top: 0px;
  background-color: var(--bg-dark);
}

.sideDisplayContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: var(--line-dark) 1px solid;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contentPanel {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
}

.scrollable {
  overflow-y: auto;
  scrollbar-color: var(--fg-dark-2) transparent;
  scrollbar-width: none;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: 0 auto;
    grid-template-rows: 50px auto;
    height: 100vh;
    width: 100vw;
  }

  .listIcon {
    display: block;
  }

  .sideDisplayContainer {
    display: none;
    background-color: var(--bg-dark);
  }

  .slideInComponent {
    display: block;
    position: fixed;
    /* border-right: 1px solid var(--fg-dark-2); */
  }

  .slideInContainer {
    height: 100vh;
    width: 360px;
    background: var(--bg-dark);
    border-right: 1px solid var(--line-dark);
  }

  .buttonIcon {
    height: 50px;
    width: 50px;
    padding: 7px;
    margin: 0px;
  }

  .coverOpen {
    display: block;
  }  

  .dcLinksContainer {
    margin-left: 12px;
    font-size: 10px;
  }

  .dcLogoLink {
    display: none;
  }

  .dcLogoLinkMobile {
    display: block;
    padding: 0px 5px;
  }
  
  .dcLink {
    padding: 0px 6px;
    margin: 1px;
    display: block;
    border-left: 1px solid var(--fg-dark-2);
  }  
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
