.pokemonListItem {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--line-dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.aggregateListItem {
  height: 42px;
  width: 100%;
  border-bottom: 1px solid var(--line-dark);
  align-items: center;
  cursor: pointer;
  display: flex;
  padding-left: 106px;
}

.pokemonListItem:hover,
.aggregateListItem:hover {
  background-color: var(--bg-dark-2);
  color: var(--hilight);
}

.pokemonListItemSelected,
.aggregateListItemSelected {
  background-color: var(--bg-dark-2);
}

.rank {
  flex-basis: 32px;
  margin-left: 10px;
  text-align: right;
  color: var(--fg-dark-2);
}

.menuSprite {
  display: block;
}

.pokemonName {
  flex-grow: 1;
  overflow-x: hidden;
  text-overflow: elipsis;
}

.usageRate {
  flex-basis: 65px;
  color: var(--fg-dark-2);
  margin-right: 3px;
}